.react-datepicker {
  background: $bg-bright;
  width: 100%;

  &__day,
  &__day-name {
    width: 3rem;
    font-size: 1.2rem;
    padding: 7px;
    font-weight: normal;
  }
  &__day {
    color: $color-primary;
    &--selected {
      background: $bg-dark;
    }
    &--today {
      font-weight: bold;
    }
  }
  &__current-month {
    font-size: 1.5rem;
    padding-bottom: $space-s;
  }
  &__header {
    background: none;
    border-bottom: none;
    div {
      color: white;
    }
  }
  &__month-container {
    float: none;
  }
  &__triangle {
    display: none;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  width: 100%;
  position: static !important;
  transform: none !important;
  border-radius: 7px;
  border: $border;
}

.data-picker {
  font-size: $font-h3;
  &__button {
    width: 100%;
  }
}
