.matches {
  width: 100%;
}

.match {
  &__start-time {
    font-weight: 100;
  }

  &__no-match {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }

  &__image {
    display: block;
    width: 24px;
    height: auto;
    margin: 0 auto;
  }
  &__halftime {
    color: grey;
  }

  &__add-favorite {
    margin: 0 auto;
  }
  &__status-wrapper,
  &__favorite-wrapper {
    width: 20px;
    height: 20px;
    background: $bg-dark;
    display: flex;
    border-radius: 50%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    border: $border;
  }
  &__favorite-wrapper {
    width: 30px;
    height: 30px;
    transition: $transition;
    &:hover {
      background-color: $bg-hover;
    }
  }
  &__status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    &--active {
      background: green;
    }
    &--scheduled {
      background: grey;
    }
    &--paused {
      background: orange;
    }
    &--finished {
      background: black;
    }
    &--postponed {
      background: violet;
    }
  }
}
