.match {
  &__image {
    display: block;
    width: auto;
    height: 15px;
  }
  &__halftime {
    color: grey;
  }

  &__status {
    width: 10px;
    height: 10px;
    display: block;
    &--active {
      background: green;
    }
    &--scheduled {
      background: grey;
    }
    &--paused {
      background: orange;
    }
    &--finished {
      background: black;
    }
    &--postponed {
      background: violet;
    }
  }
}
