.nav {
  margin-bottom: $space-m;

  &__list {
    &--collapsed {
      display: none;
      @include mq(l) {
        display: block;
      }
    }
    &--is-expanded {
      display: block;
    }
  }
  &__list-item {
    display: list-item;
    padding-right: $space-s;
    text-align: right;
    @include mq(l) {
      display: list-item;
      text-align: left;
    }
    &--active {
      color: $color-secondary;
    }
  }
  &__toggle {
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 45px;
    right: 25px;
    border: none;
    &:hover {
      border: none;
    }
    @include mq(l) {
      display: none;
    }
  }
  &__toggle-image {
    width: 36px;
    height: auto;
  }
  &__flag {
    width: 20px;
    height: auto;
    margin-right: 10px;
  }
}
