.nav {
  margin-bottom: $space-m;
  &__list {
    &--collapsed {
      display: none;
      @include mq(l) {
        display: block;
      }
    }
    &--is-expanded {
      display: block;
      margin-top: 100px;
    }
  }
  &__list-item {
    display: flex;
    padding: 0 25px;
    text-align: left;
    font-size: $font-h4;
    color: $color-primary;
    margin: 0;
    &:hover {
      background: red;
    }

    &:nth-child(odd) {
      background: $bg-bright;
    }

    &:nth-child(even) {
      background: $bg-dark;
    }
    &--active {
      font-weight: bold;
    }
    a {
      flex-grow: 1;
      padding: 20px 0px;

      &:hover {
        color: black;
      }
    }
  }
  &__flag {
    width: 20px;
    height: auto;
    margin-right: 10px;
    display: block;
  }
  &__flag-wrapper {
    display: flex;
    align-items: center;
  }
  &__toggle {
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 45px;
    right: 25px;
    border: none;
    &:hover {
      border: none;
    }
    @include mq(l) {
      display: none;
    }
  }
  &__toggle-image {
    width: 36px;
    height: auto;
  }
}

.nav__mobile {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #6717cd 0%, #2871fa 100%);
  z-index: 999;
}
