.nav {
  margin-bottom: $space-m;
  &__mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #6717cd 0%, #2871fa 100%);
    z-index: 999;
  }
  &__list {
    &--collapsed {
      display: none;
      @include mq(l) {
        display: block;
      }
    }
    &--is-expanded {
      display: block;
      margin-top: 100px;
    }
  }
  &__list-item {
    display: flex;
    padding: 0;
    padding-left: $space-mm;
    text-align: left;
    font-size: $font-h4;
    color: $color-primary;
    transition: $transition;

    &:nth-child(odd) {
      background: $bg-bright;
    }

    &:nth-child(even) {
      background: $bg-dark;
    }
    &:hover {
      background: $bg-hover;
    }
    a {
      flex-grow: 1;
      padding: $space-mm 0px;
    }
  }
  &__flag-wrapper {
    display: flex;
    align-items: center;
  }
  &__flag {
    width: 20px;
    height: auto;
    margin-right: $space-s;
    display: block;
  }
  &__toggle {
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 45px;
    right: 25px;
    border: none;
    &:hover {
      border: none;
    }
    @include mq(l) {
      display: none;
    }
  }
  &__toggle-image {
    width: 36px;
    height: auto;
  }
}
