.table {
  &__img {
    width: 10px;
    height: 10px;
  }
}

.sort,
.sort-up,
.sort-down {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
  background-image: url("../../Images/sort.svg");
}

.position {
  padding: 5px;
  color: white;
}
.champions {
  background: rgb(3, 86, 100);
}
.champions-qualifications {
  background: rgb(112, 171, 238);
}
.europa {
  background: green;
}
.europa-qualifications {
  background: rgb(53, 170, 53);
}
.playoffs {
  background: rgb(189, 74, 45);
}
.relegation {
  background: rgb(145, 60, 11);
}
