.table {
  &__img {
    width: 10px;
    height: 10px;
  }
  &__position {
    padding: 5px;
    color: black;
    &--champions {
      background: rgb(3, 86, 100);
      color: white;
    }
    &--champions-qualifications {
      background: rgb(112, 171, 238);
      color: white;
    }
    &--europa {
      background: green;
      color: white;
    }
    &--europa-qualifications {
      background: rgb(53, 170, 53);
      color: white;
    }
    &--playoffs {
      background: rgb(189, 74, 45);
      color: white;
    }
    &--relegation {
      background: rgb(145, 60, 11);
      color: white;
    }
  }
}

.sort,
.sort-up,
.sort-down {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
  background-image: url("../../Images/sort.svg");
}
