.table {
  width: 100%;

  td {
    padding: 12px 4px;
    @include mq(s) {
      padding: 15px;
    }
  }

  &__img {
    width: 10px;
    height: 10px;
  }
  &__position-number {
    text-align: center;
  }

  &__position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: $color-primary;
    opacity: 1;
    &--champions {
      background: rgb(3, 86, 100);
    }
    &--champions-qualifications {
      background: rgb(112, 171, 238);
    }
    &--europa {
      background: green;
    }
    &--europa-qualifications {
      background: rgb(53, 170, 53);
    }
    &--playoffs {
      background: rgb(189, 74, 45);
    }
    &--relegation {
      background: rgb(145, 60, 11);
    }
  }
}
