.tab {
  border: none;
  font-size: $font-h4;
  padding: $space-s $space-m;
  transition: $transition;
  &:hover {
    background-color: $bg-hover;
  }
  &--active {
    background: $bg-dark;
    color: $color-primary;
    border: none;
    font-size: $font-h4;
    padding: $space-s $space-m;
  }
}
