.tab {
  border: none;
  font-size: $font-h4;
  padding: $space-s $space-m;
  &--active {
    background: $bg-dark;
    color: white;
    border: none;
    font-size: $font-h4;
    padding: $space-s $space-m;
  }
}
