@import "Reset.scss";
@import "Variables.scss";
@import "Base.scss";
@import "Components/Header.scss";
@import "Components/Footer.scss";
@import "Components/Navigation.scss";
@import "Components/Competition.scss";
@import "Components/Table.scss";
@import "Components/Sort.scss";
@import "Components/Tabs.scss";
@import "Components/Match.scss";
@import "Components/DataPicker.scss";
