// fonts
html {
  font-size: 10px;
  @include mq(s) {
    font-size: 11px;
  }
  @include mq(l) {
    font-size: 11.5px;
  }
}

body {
  background: linear-gradient(to bottom, #2871fa 0%, #6717cd 100%);
}
// Layout

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: $font-primary;
  font-weight: 100;
  font-size: $font-base;
  padding: 45px 25px;
  color: $color-primary;
  @include mq(l) {
    width: 1024px;
    margin: 0 auto;
  }
}

main {
  // flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 63vh;
  @include mq(l) {
    flex-direction: row;
  }
}

aside {
  flex-basis: 100%;
  @include mq(l) {
    flex-basis: 30%;
    padding-right: 25px;
  }
}

section.page {
  flex-grow: 1;
  flex-basis: 70%;
}

// List
ul,
ol {
  list-style-type: none;
  li {
    margin-bottom: $space-xs;
  }
}

// Link
a {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    color: white;
  }
}

// Button
button {
  border: $border;
  background: none;
  padding: $space-s;
  border-radius: 7px;
  color: $color-primary;
  &:hover {
    color: white;
  }
}

// Table
table {
  border: none;
  border-collapse: collapse;
  font-size: $font-base;
  button {
    border: none;
  }
}

tr {
  &:nth-child(odd) {
    background: $bg-bright;
  }

  &:nth-child(even) {
    background: $bg-dark;
  }
}

td {
  border: 0px;
  padding: $space-xs 0;
  color: $color-primary;
  padding: 20px 5px;
  @include mq(l) {
    padding: $space-m $space-s;
  }
}

// Form
form {
  margin-bottom: $space-l;
}
label {
  font-size: 2rem;
  font-weight: bold;
  margin-right: $space-s;
}

input {
  padding: $space-s $space-m;
  border: $border;
  font-size: 1.6rem;
  &:active {
    border-color: red;
  }
}

// Typography
h2 {
  margin-top: $space-xl;
  margin-bottom: $space-m;
  font-size: $font-h2;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
