// fonts
html {
  font-size: 10px;
  @include mq(s) {
    font-size: 11px;
  }
  @include mq(l) {
    font-size: 11.5px;
  }
}

body {
  background: linear-gradient(to bottom, #2871fa 0%, #6717cd 100%);
}

// Layout
.app {
  min-height: 100vh;
  padding: $margin-body;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: $font-primary;
  font-weight: 100;
  font-size: $font-base;
  color: $color-primary;
  @include mq(l) {
    width: 1200px;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  @include mq(l) {
    flex-direction: row;
  }
}

aside {
  flex-basis: 100%;
  @include mq(l) {
    flex-basis: 33.3%;
    padding-right: $space-l;
  }
}

section.page {
  flex-basis: 66.6%;
}

// List
ul,
ol {
  list-style-type: none;
  li {
    margin: 0;
  }
}

// Link
a {
  text-decoration: none;
  color: $color-primary;
  transition: $transition;
  &:hover {
    color: $color-primary;
  }
}

// Button
button {
  border: $border;
  background: none;
  padding: $space-s;
  border-radius: $border-radius;
  color: $color-primary;
  transition: $transition;
  &:hover {
    color: $color-primary;
  }
}

// Table
table {
  border: none;
  border-collapse: collapse;
  font-size: $font-base;
  button {
    border: none;
  }
}

tr {
  &:nth-child(odd) {
    background: $bg-bright;
  }

  &:nth-child(even) {
    background: $bg-dark;
  }
}

td {
  border: 0px;
  padding: $space-xs 0;
  color: $color-primary;
  padding: 20px 5px;

  @include mq(l) {
    padding: $space-m $space-s;
  }
}

// Form
form {
  margin-bottom: $space-l;
}
label {
  font-size: 2rem;
  font-weight: bold;
  margin-right: $space-s;
}

input {
  padding: $space-s $space-m;
  border: $border;
  font-size: 1.6rem;
}

// Typography

h1 {
  font-size: $font-h1;
}
h2 {
  margin-top: $space-xl;
  margin-bottom: $space-m;
  font-size: $font-h2;
}
