// fonts
html {
  font-size: 10px;
  @include mq(s) {
    font-size: 9px;
  }
  @include mq(l) {
    font-size: 10px;
  }
}

// Layout

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: $font-primary;
  font-weight: 100;
  font-size: $font-base;
  background: linear-gradient(to bottom, #2871fa 0%, #6717cd 100%);
  padding: 45px 25px;
  color: $color-primary;
  @include mq(l) {
    padding: 45px 20%;
  }
}

main {
  // flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

aside {
  flex-basis: 100%;
  @include mq(l) {
    flex-basis: 25%;
  }
}

section.page {
  flex-grow: 1;
}

// List
ul,
ol {
  list-style-type: none;
  li {
    margin-bottom: $space-xs;
  }
}

// Link
a {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    color: white;
  }
}

// Button
button {
  border: $border;
  background: none;
  padding: $space-s;
  border-radius: 7px;
  color: $color-primary;
  &:hover {
    color: white;
  }
}

// Table
table {
  border: none;
  border-collapse: collapse;
  font-size: $font-base;
  button {
    border: none;
  }
}

tr {
  &:nth-child(odd) {
    background: $bg-bright;
  }

  &:nth-child(even) {
    background: $bg-dark;
  }
}

td {
  border: 0px;
  padding: $space-xs 0;
  color: $color-primary;
  padding: 20px 5px;
  @include mq(l) {
    padding: $space-m $space-s;
  }
}

// Form
form {
  margin-bottom: $space-l;
}
label {
  font-size: 2rem;
  font-weight: bold;
  margin-right: $space-s;
}

input {
  padding: $space-s $space-m;
  border: $border;
  font-size: 1.6rem;
  &:active {
    border-color: red;
  }
}

// Typography
h2 {
  margin-top: $space-xl;
  margin-bottom: $space-m;
  font-size: $font-h2;
}
