// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

$font-primary: "Open Sans", sans-serif;

// Colors
$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(0, 0, 0);
$color-grey: rgb(230, 230, 230);

// Border
$border: 1px solid $color-primary;

// Breakpoints
$breakpoints: (
  xs: (
    min-width: 460px
  ),
  s: (
    min-width: 640px
  ),
  m: (
    min-width: 800px
  ),
  l: (
    min-width: 1024px
  ),
  xl: (
    min-width: 1200px
  )
);
// Space
$space-xs: 7.892px;
$space-s: 11.237px;
$space-m: 16px;
$space-l: 32.437px;
$space-xl: 46.184px;
$space-2xl: 93.628px;
// Font size
$font-xs: 0.5rem;
$font-s: 1rem;
$font-base: 1.3rem;
$font-h4: 1.6rem;
$font-h3: 1.4625rem;
$font-h2: 2.082rem;
$font-h1: 2.635rem;

// Backgrounds
$bg-bright: rgba(
  $color: #ffffff,
  $alpha: 0.1
);
$bg-dark: rgba(
  $color: #ffffff,
  $alpha: 0.3
);

// Media query
@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje';
  }
}
