// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
$font-primary: "Roboto", sans-serif;

// Colors
$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(255, 0, 0);
$color-grey: rgb(230, 230, 230);

// Border
$border: 1px solid $color-grey;

// Space
$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 40px;
$space-xl: 80px;
$space-2xl: 160px;

// Breakpoints
$breakpoints: (
  xs: (
    min-width: 460px
  ),
  s: (
    min-width: 640px
  ),
  m: (
    min-width: 800px
  ),
  l: (
    min-width: 1024px
  ),
  xl: (
    min-width: 1200px
  )
);

// Media query
@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje';
  }
}
